.pokeball {
    position: relative;
  width: 300px;
  height: 300px;
  background: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: in;
}

.pokeball::before {
    background: red;
    height: 50%;
    width: 100%;
    content: '';
    position: absolute;
}

.pokeball::after {
    content: '';
    background-color: black;
    height: 20px;
    width: 100%;
    top: 50%;
    position: absolute;
    
}
.pokeball-button {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 10px rgb(240, 235, 235) solid;
    box-shadow: 0 0 0 10px ;
    top: 30%;
  left: 30%;
    background: rgb(173, 166, 166);
    z-index: 1;
}

body {
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
    align-items: center;

}

#square {
    border: 10px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dot {
    border-radius: 50%;
    background: black;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#line {
    border: #fff 1px solid;
    width: 100%;
}